# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ==========================
# Virtual Environment
# ==========================
venv/
.venv/
env/

# ==========================
# Environment Variables
# ==========================
.env

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# macOS
# ==========================
.DS_Store

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Testing
# ==========================
.pytest_cache/

# ==========================
# Coverage
# ==========================
.coverage
htmlcov/

# ==========================
# Python Distribution
# ==========================
build/
dist/
*.egg-info/